#!/usr/bin/env ruby
# encoding: utf-8
gem 'minitest', '>= 5.0.0'
require 'minitest/autorun'
require_relative 'isogram'

# Common test data version: <%= sha1 %>
class IsogramTest < Minitest::Test
<% test_cases.each_with_index do |test_case,index| %>
<%=  test_case.render(index) %>

<% end %>
<%= test_version_bookkeeping.render %>
end
