#!/usr/bin/env ruby
# encoding: utf-8
gem 'minitest', '>= 5.0.0'
require 'minitest/autorun'
require_relative 'isogram'

# Common test data version: <%= sha1 %>
class IsogramTest < Minitest::Test
<% test_cases.each do |test_case| %>
<%=  test_case.full_method %>

<% end %>
<%= test_version %>

  def test_bookkeeping
    skip
    assert_equal <%= version %>, BookKeeping::VERSION
  end
end
